In [96]:
import pandas as pd
from scipy.optimize import linprog
from typing import Dict, List
from uuid import uuid4 as Uuid4
from datetime import Date

In [153]:
class SparseDate():
    
    def __init__(self, year: int = 0, month: int = 0, day: int = 0,
                 hour: int = 0, minute: int = 0, second: int = 0):
        
        self.year   = year
        self.month  = month
        self.day    = day
        self.hour   = hour
        self.minute = minute
        self.second = second
    
    def __repr__(self):
        
        return str(self.get())
    
    @classmethod
    def from_string(cls, datestring: str, 
                    dateformat: str):
        
        temp   = datetime.strptime(datestring, dateformat)
        year   = temp.year
        month  = temp.month
        day    = temp.day
        hour   = temp.hour
        minute = temp.minute
        second = temp.second
        return cls(year, month, day, hour, minute, second)
    
    @classmethod
    def from_datetime(cls, dt_obj: datetime):
        
        year   = dt_obj.year
        month  = dt_obj.month
        day    = dt_obj.day
        hour   = dt_obj.hour
        minute = dt_obj.minute
        second = dt_obj.second
        return cls(year, month, day, hour, minute, second)
    
    def get(self):
        
        dtm = self._get_datetime()
        
        if dtm == None:
        
            return self.get_str()
        
        else:
            
            return dtm
        
    def get_str(self):
        
        return '{0:02d}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}' \
                    .format(self.year, self.month, self.day,
                            self.hour, self.minute, self.second)
    
    def _get_datetime(self):
        
        if int(self.year) == 0 or int(self.month) == 0 or int(self.day) == 0:
           
            return None
        
        else: 
             
            return datetime(self.year, self.month, self.day, 
                            self.hour, self.minute, self.second)
        
class DateInterval():
    
    def __init__(self, start: SparseDate, end: SparseDate):
        
        self.start = start
        self.end   = end

In [152]:
datetime.strptime(str(datetime.now()))

TypeError: strptime() takes exactly 2 arguments (1 given)

In [138]:
class Server():
    
    def __init__(self):
        
        self.item_manager = ItemManager()

class Transaction():
    
    def __init__(self, flow: Flow, date: SparseDate,
                 value: float, currency: str):
        
        self.flow     = flow
        self.date     = date
        self.value    = value
        self.currency = currency
        

class Item():
    
    def __init__(self, ident: Uuid4, name: str, 
                 initial_value: float):
        
        self.id   = ident
        self.name = name
        self.initial_value = initial_value
        self.expenses = Dict[str, Expense]
        self.incomes  = Dict[str, Income]


class Asset(Item):
    
    def __init__(self, name: str, value: float, initial_value: float):
        
        self.market_value      = initial_value
        self.market_value_date = SparseDate.from_datetime(datetime.now())
        self.incomes           = Dict[str, Income]
        self.liabilities       = Dict[str, Liability]
        self.depreciation      = Dict[SparseDate, float]
        
        super().__init__(ident, name)

class Liability(Item):
    
    def __init__(self, name: str, ident: str, 
                 initial_value: float):
 
        self.balance      = initial_value
        self.balance_date = SparseDate.from_datetime(datetime.now())
        self.payments     = Dict[SparseDate, Expense]
        self.outlays      = Dict[SparseDate, float]
        self.collaterals  = Dict[str, Asset]
        
        super().__init__(name, ident, initial_value)

    def apply_payment(self, date, amount: float, 
                      dateformat: str = None):
            
        self.outlays[SparseDate.from_string(date, dateformat)] = amount
        
class RealEstate(Asset):
    
    def __init__(self, name: str, initial_value: float, value: float = 0.0, 
                 downpmt_pct: float = 0.0, transx_tax_pct: float = 0.0,
                 transx_fee_pct: float = 0.0, insurance_prem_pct: float = 0.0):
        
        self.name               = name
        self.downpmt_pct        = downpmt_pct
        self.transx_tax_pct     = transx_tax_pct
        self.transx_fee_pct     = transx_fee_pct
        self.insurance_prem_pct = insurance_prem_pct
        
        super().__init__(name, value, initial_value)
        
        
class Stream():
    
    # TODO
    def __init__(self, name: str, date: datetime, #):
        
        self.name         = name
        self.date         = SparseDate.from_datetime(date)
        self.value        = value
        self.frequency    = frequency
        self.category     = category
        self.is_fulfilled = 
    
class Income(Stream):
    
    def __init__(self, name: str, value: float, 
                 frequency: str, category: str):
        
        super().__init__(name, value, frequency,
                         category)

class Expense(Stream):
    
    def __init__(self, name: str, value: float, 
                 frequency: str, category: str):
        
        super().__init__(name, value, frequency,
                         category)
        
class ItemManager():
    
    def __init__(self):
        
        self.items = Dict[str, Expense]
    
    def add_thing(self, item: Item):
        
        if expense.name not in self.items:
            
            self.items[expense.name] = item
            
        else:
            
            raise ValueError('An expense with the name', expense.name,
                             'already exists in ExpenseManager.')
    
    def get_item(self, name: str):
        
        return self.items[name]

SyntaxError: invalid syntax (<ipython-input-138-ee09166c492f>, line 75)

In [35]:
if __name__ == '__main__':
    
    SESSION = Server()
    
    tx_taxes_perc = .10
    down = 0.20
    owner_ins_pct = 200.0 / 135000
    
    exps = [Expense('selling_price', 300000.0, 'one-time-proj', 'house'),
            Expense('transaction_tax', tx_taxes_perc * amt_adjuster(selling_price), 
                    'one-time-proj'),
            Expense('home-owner-insurance', owner_ins_pct * amt_adjuster(selling_price), 
                    'annual-proj'),
            Expense('property-taxes', 250.0, 'annual-proj'),
            Expense('mortgage-insurance', 66.0, 'annual-proj'),
            Expense('home-maintenance', 50.0, 'month-proj'),
            Expense('down-payment', P * down, 'one-time-proj'),
            Expense(),
    

# inputs (amount, period: 0=one time, >0=in months)

# house
mortg_insur   = ()
maintenance   = ()
renovation    = (10000.0, 'one-time')
down_pmt_pct  = 0.20
down_pmt_amt  = (down_pmt_pct * amt_adjuster(selling_price), 'one-time')

# Utilities
hot_water     = (50.0,  'monthly')
water         = (50.0,  'monthly')
electricity   = (50.0,  'monthly')
gas           = (50.0,  'monthly')
cmty_fee      = (250.0, 'monthly')

# Loan params
dur_yrs       = 30.0
pds_yr        = 12
interest_rate = 0.025
is_ren_cash   = True
nat_grwth_ann = 0.06
pct_renov_out = 0.80

In [36]:
def compute_payment_tables(pmt, dur_yrs, pds_yr, p, down_pmt, r, optim=True):
    
    out = []
    
    bal = p - down_pmt
    
    out.append({
            'new_balance': bal,
            'interest_paid': 0.0,
            'interest_cumd': 0.0,
            'principl_paid': 0.0,
            'principl_cumd': 0.0,
            'utility+hoa'  : 0.0,
            'cash_required': amt_adjuster(hot_water) +
                             amt_adjuster(hot_water) +
                             amt_adjuster(hot_water)
        })
    
    for i in range(int(pds_yr * dur_yrs)):
        
        interest = bal * (r / 12.0)
        
        principl = pmt - interest
        
        bal = bal + interest - pmt
        
        out.append({
            'new_balance': bal,
            'interest_paid': interest,
            'interest_cumd': out[-1]['interest_cumd'] + interest,
            'principl_paid': principl,
            'principl_cumd': out[-1]['principl_paid'] + principl,
            'utilities'    : amt_adjuster(hot_water) + \
                             amt_adjuster(water) + \
                             amt_adjuster(electricity) + \
                             amt_adjuster(gas) + \
                             amt_adjuster(gas) + \
            'hoa'          :
            
        })
    
    if optim:
        
        return out[-1]['new_balance']
    
    else:
        
        return pd.DataFrame(out)

In [62]:
bal = 1001.0
pmt = 100
dec = 10
eps = 0.001
switch = 1

def increment(dec, switch):
    
    global pmt
    
    if switch:
        
        pmt += dec
        
    else:
        
        pmt -= dec

while abs(bal) > eps:
        
    increment(dec, True)
    
    bal = compute_payment_tables(pmt, dur_yrs, pds_yr, 
                                 amt_adjuster(selling_price), 
                                 amt_adjuster(down_pmt), 
                                 interest_rate)
    
    if bal < 0:
        
        increment(dec, False)
        
        dec = dec / 2

schedule = compute_payment_tables(pmt, dur_yrs, pds_yr, 
                                  amt_adjuster(selling_price), 
                                  amt_adjuster(down_pmt), 
                                  interest_rate, False)

In [65]:
schedule

     interest_cumd  interest_paid    new_balance  principl_cumd  principl_paid
0         0.000000       0.000000  240000.000000       0.000000       0.000000
1       500.000000     500.000000  239551.709862     448.290138     448.290138
2       999.066062     499.066062  239102.485786     897.514214     449.224076
3      1497.196241     498.130179  238652.325826     899.384036     450.159960
4      1994.388586     497.192345  238201.228033     901.257752     451.097793
5      2490.641145     496.252558  237749.190454     903.135373     452.037580
6      2985.951958     495.310813  237296.211129     905.016905     452.979325
7      3480.319065     494.367107  236842.288097     906.902357     453.923032
8      3973.740498     493.421434  236387.419392     908.791736     454.868705
9      4466.214289     492.473790  235931.603045     910.685053     455.816348
10     4957.738462     491.524173  235474.837079     912.582313     456.765965
11     5448.311039     490.572577  235017.119518     914.483526     457.717561
12     5937.930038     489.618999  234558.448379     916.388700     458.671139
13     6426.593472     488.663434  234098.821675     918.297843     459.626704
14     6914.299351     487.705878  233638.237415     920.210964     460.584260
15     7401.045679     486.746328  233176.693605     922.128070     461.543810
16     7886.830457     485.784778  232714.188245     924.049170     462.505360
17     8371.651682     484.821226  232250.719332     925.974273     463.468913
18     8855.507348     483.855665  231786.284859     927.903386     464.434473
19     9338.395441     482.888093  231320.882814     929.836518     465.402045
20     9820.313947     481.918506  230854.511182     931.773677     466.371632
21    10301.260845     480.946898  230387.167942     933.714872     467.343240
22    10781.234112     479.973267  229918.851070     935.660112     468.316872
23    11260.231718     478.997606  229449.558539     937.609404     469.292532
24    11738.251632     478.019914  228979.288314     939.562756     470.270225
25    12215.291816     477.040184  228508.038360     941.520179     471.249954
26    12691.350229     476.058413  228035.806635     943.481679     472.231725
27    13166.424826     475.074597  227562.591094     945.447266     473.215541
28    13640.513558     474.088731  227088.389687     947.416948     474.201407
29    14113.614370     473.100812  226613.200360     949.390733     475.189326
..             ...            ...            ...            ...            ...
331  100543.267923      57.396096   26659.232164    1779.935913     890.894042
332  100598.807990      55.540067   25766.482092    1783.644113     892.750071
333  100652.488161      53.680171   24871.872125    1787.360038     894.609967
334  100704.304561      51.816400   23975.398387    1791.083705     896.473738
335  100754.253308      49.948747   23077.056996    1794.815130     898.341392
336  100802.330510      48.077202   22176.844060    1798.554328     900.212936
337  100848.532268      46.201758   21274.755680    1802.301316     902.088380
338  100892.854676      44.322408   20370.787949    1806.056110     903.967731
339  100935.293817      42.439142   19464.936952    1809.818727     905.850997
340  100975.845769      40.551952   18557.198766    1813.589183     907.738186
341  101014.506600      38.660831   17647.569459    1817.367494     909.629307
342  101051.272370      36.765770   16736.045090    1821.153676     911.524369
343  101086.139130      34.866761   15822.621713    1824.947746     913.423378
344  101119.102926      32.963795   14907.295370    1828.749721     915.326343
345  101150.159791      31.056865   13990.062097    1832.559616     917.233273
346  101179.305754      29.145963   13070.917921    1836.377448     919.144176
347  101206.536833      27.231079   12149.858862    1840.203235     921.059059
348  101231.849039      25.312206   11226.880930    1844.036992     922.977932
349  101255.238374      23.389335   10301.980127    1847.878735     924.900803
350  101276.700833      21.462459    9375.152447    1851.728483     926.827680
351  101296.232400      19.531568    8446.393876    1855.586250     928.758571
352  101313.829054      17.596654    7515.700392    1859.452055     930.693484
353  101329.486763      15.657709    6583.067963    1863.325913     932.632429
354  101343.201488      13.714725    5648.492550    1867.207842     934.575413
355  101354.969181      11.767693    4711.970104    1871.097859     936.522445
356  101364.785785       9.816604    3773.496570    1874.995979     938.473534
357  101372.647237       7.861451    2833.067883    1878.902221     940.428687
358  101378.549461       5.902225    1890.679970    1882.816601     942.387913
359  101382.488378       3.938917     946.328748    1886.739135     944.351222
360  101384.459896       1.971518       0.010128    1890.669842     946.318620

[361 rows x 5 columns]

In [64]:
#sum (from 1 to N): bal - x[0]
compute_payment_tables(pmt, dur_yrs, pds_yr, 
                       amt_adjuster(selling_price), 
                       amt_adjuster(down_pmt), 
                       interest_rate)

0.010128044630846489

In [49]:
iterations_hat = 0

while _w_in_pd_iter != iterations:
    
    #print('--- new run ---')
    #print('payment', pmt_hat)
    #print('---------------')
    
    pmt_hat -= 100.00

    _w_in_pd_iter = 0
    
    b = apply_payments(pmt_hat, P, r)

NameError: name '_w_in_pd_iter' is not defined

In [ ]:
"""Model

Total_Outlay_per_Year = recoverable + non-recoverable

recoverable
  * equity-in
  * equity-growth
  * renovation
  
non-recoverable
  * insurance
  * taxes
  * community dues
  * utilities
  
loan solver:

minimize: pmt

subject to: pmt

"""